{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div class="container shadow-container-index">
<div class="row">

<section id="content" class="left col-md-9">
{% for article in articles_page.object_list %}
    <div class="item">
        <article class="hentry">
            <header>
                <h3>
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">
                           {{ article.title }}
                    </a>
                </h3>
            </header>
            <div class="entry-content index">
 <!--            {% include 'article_infos.html' %} -->
            {{ article.summary }}
                <a class="btn btn-xs theme_link" href="{{ SITEURL }}/{{ article.url }}">
                    <i class="fa fa-sign-out"></i>read more</a>
            {% include 'comments.html' %}
            </div><!-- /.entry-content -->
        </article>
    </div>
{% endfor %}
{% include 'pagination.html' %}
</section>
{% include "_includes/sidebar.html" %}

</div>
</div>
{% endblock content %}
