<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
{% include "_includes/header.html" %}

<body id="index" class="home">
{% include "_includes/nav.html" %}
<div class="container shadow-container">
	<section class="about">
    <!--p  align="center">
    	<img class="about-img" src = "{{SITEURL}}/images/about_header.jpg">
    </p-->
	<h2 class="about-h2">作者简介</h2>
        <p>Marvin,WHU硕士,Scala拥趸,面向分布式编程,前端后端都搞点,做做网站写写博客刷刷微博。</p>
        <p>爱旅行，骑行爱好者，热爱打篮球，足球狂热粉丝，主队保密。</p>
        <p>爱读书，尤其喜好非技术类书籍，个人认为：技术类书籍能教会你怎么干活，而文学书籍才能教会你如何生活。</p>
        <p>联系方式:</p>
        <ul>
                <li><i class="about fa fa-dot-circle-o"></i><a href="http://weibo.com/u/1799756001">微博</a></li>
                <li><i class="about fa fa-dot-circle-o"></i>邮箱: $ echo bWF3ZW50YW9Ad2h1LmVkdS5jbgo= | base64 -d</li>
        </ul>
    </section>
    
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"marvin007"};
      (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
      || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>



</div>



    

{% include "_includes/footer.html" %}

{% include 'analytics.html' %}
</body>
</html>
